#contenedorTexto {
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
    color: grey;
    min-height: 400px;
    padding:30px;
    text-align: center;
    white-space: pre-line;
}