
<!-- Introducimos un contenedor que tendrá el flex para ordenar los elementos -->
<div id="contenido"> 
  
  <!-- Los departamentos van a ser botones con una imagen identificativa de cada uno -->
  <div class="row">
    <div class="col-md-3">
      <button class="departamento" [style.background-image]="'url(../assets/img/almacen.jpg)'" (click)="navegarAlmacen()">
        <span id="texto">Almacén</span>
      </button>
    </div>
    <div class="col-md-3">
      <button class="departamento" [style.background-image]="'url(../assets/img/entradas.jpg)'" (click)="navegarEntradas()">
        <span id="texto">Entradas</span>
      </button>
    </div>
    <div class="col-md-3">
      <button class="departamento" [style.background-image]="'url(../assets/img/produccion.jpg)'" (click)="navegarProduccion()">
        <span id="texto">Producción</span>
      </button>
    </div>
    <div class="col-md-3">
      <button class="departamento" [style.background-image]="'url(../assets/img/salidas.jpg)'" (click)="navegarSalidas()">
        <span id="texto">Salidas</span>
      </button>
    </div>
  </div> 
</div>
