#tablaalmacenProductos {
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
    max-height: 60vh;
}

button {
    background-color: black;
    color: rgb(253, 203, 110);
    border-radius: 12px;
    border:none;
    height:25px;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}

th,td {
    padding: 5px;
}

#botones {
    display:flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}


th {
    border-bottom: 2px solid rgb(253, 203, 110);
}

h2 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

.button-secondary {
    background-color: rgb(253, 203, 110);
    color: black;
    border-radius: 12px;
    border:none;
    height:25px;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}

.input-materiales {
    width: 60%;
}

input {
    margin: 0.5%;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.transicion-detalle {
    transition: all 0.5s ease;
  }

  #contenedorFormularioProductos {
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
    padding: 30px
}