<!-- Botón de nuevo entrada -->
<div id="nuevoEntrada"> 
    <h2>Entradas</h2>
    <div id="botones">
        <button (click)="nuevaEntrada()" id="ne" >Registrar nueva entrada</button> <!--Navegamos a nueva entrada-->
    </div>
</div>
<div class="row">
    <div [ngClass]="{'col-md-12': mostrarEntradas, 'col-md-8': !mostrarEntradas, 'transicion-detalle': true}"><!--cambiamos de ccol12 a 8 dependiendo del flag mostrarEntradas-->
        <!-- Tabla de entradas -->
        <div id="tablaEntradas" >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Número</th>
                    <th>Fecha</th>
                    <th>Nombre de Empresa</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entrada of listaxeEntradas">
                    <td>{{ entrada.numero }}</td>
                    <td>{{ entrada.fecha }}</td>
                    <td>{{ entrada.empresa_nome }}</td>
                    <td>
                        <button (click)="verDetalle(entrada.id)">Ver Detalle</button><!--iniciamos transicion para ver detalleEntrada-->
                        <button (click)="eliminarEntrada(entrada.id)">Eliminar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="col-md-4" *ngIf="mostrarDetalle">
    <div id="contenedorFormularioEntradas">
        <form #entradaForm="ngForm"> <!-- Referencia del formulario para validación en editar -->
            <h1>Detalle Albarán</h1>
            <div id="campos">
                <!-- Campo numero -->
                <div class="form-group">
                    <label for="numero">Numero Albarán:</label>
                    <input type="text" [(ngModel)]="entradaSeleccionada.numero" name="numero" [disabled]="!editar" required #numero="ngModel">
                    <div *ngIf="numero.invalid && numero.touched" style="color:red"><!--Validacion-->
                        El número de albarán es requerido.
                    </div>
                </div>
                <!-- Campo empresa -->
                <div class="form-group">
                    <label for="empresa_nome">Empresa:</label>
                    <select [(ngModel)]="entradaSeleccionada.empresa_id" name="empresa_id" [disabled]="!editar" required #empresa_id="ngModel">
                        <option *ngFor="let empresa of listaxeEmpresas" [value]="empresa.id">{{ empresa.nombre }}</option>
                    </select>
                    <div *ngIf="empresa_id.invalid && empresa_id.touched" style="color:red"><!--Validacion-->
                        La empresa es requerida.
                    </div>
                </div>
                <!-- Campo fecha -->
                <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input type="date" [(ngModel)]="entradaSeleccionada.fecha" name="fecha" [disabled]="!editar" required #fecha="ngModel">
                    <div *ngIf="fecha.invalid && fecha.touched" style="color:red"><!--Validacion-->
                        La fecha es requerida.
                    </div>
                </div>
                <!-- Campo tipo -->
                <div class="form-group">
                    <label for="tipo">Tipo de operación:</label>
                    <input type="text" value="{{entradaSeleccionada.tipo}}" disabled>
                </div>
                <!-- Campos de materiales -->
                <div id="tablaMateriales">
                    <h3>Materiales</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Metal</th>
                                <th>Dimensiones</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of entradaSeleccionada.materials">
                                <td>{{ material.metal }}</td>
                                <td>{{ material.dimensiones }}</td>
                                <td>
                                    <input type="number" [id]="'cantidad-' + material.id" [(ngModel)]="material.pivot.cantidad" name="cantidad-{{material.id}}" [disabled]="!editar" class="input-materiales" required #cantidad="ngModel" min="1">
                                    <div *ngIf="editar && cantidad.invalid && cantidad.touched" style="color:red"><!--Validacion-->
                                        La cantidad es requerida y debe ser mayor que 0.
                                    </div>
                                </td>
                                <td>
                                    <input type="number" [id]="'precio-' + material.id" [(ngModel)]="material.pivot.precio" name="precio-{{material.id}}" [disabled]="!editar" class="input-materiales" required #precio="ngModel" min="0.01" step="0.01">
                                    <div *ngIf="editar && precio.invalid && precio.touched" style="color:red"><!--Validacion-->
                                        El precio es requerido y debe ser mayor que 0.
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="class-md-4">
                        <!-- Campo total -->
                        <label for="total">Total</label>
                        <input type="text" [value]="total + '€'" disabled><!--Valortotal calculado en calcularTotal()-->
                    </div>
                    <div *ngIf="mensajeError != null" style="color:red">
                        <p>{{ mensajeError }}</p>
                    </div>
                </div>
            </div>
        </form>
        <button *ngIf="!editar" (click)="editarOn()">Editar</button><!--cambiamos flag para editar-->
        <button *ngIf="editar" (click)="editarEntrada(entradaForm, entradaSeleccionada.id)">Guardar</button><!--guardamos cambios de la edicion-->
        <button (click)="cancelar()" id="cancelar">Cancelar</button><!--Cerramos el detalle-->
    </div> 
</div>
</div>

