

#consumo {
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
    color: grey;
    max-height: 60vh;
    padding:30px;
    text-align: center;
}

#resultado {
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
    padding:30px;
    color: grey;
}

h2 {
    margin-bottom: 3%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
 h3{
    text-align: center;
 }

input {
    text-align: center;
    
    padding:5px;
    margin-top: 5px;
}

#consumo > input {
    text-align: center;
    width: 80px;
    padding:5px;
    padding-left: 20px;
    margin-top: 0px;
}

select {
    text-align: center;
    padding:5px;
    margin-top: 5px;
}

#formularioProduccion {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#flecha {
    width: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

label {
    margin-top: 20px;
}

#procesar {
    margin-top: 50%;
    background-color: rgb(253, 203, 110);
    color:black;
}

button {
    height: 30px;
    width: 150px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: rgb(253, 203, 110);
    border-radius: 20px;
    border-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

img {
    height: 30px;
    width: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
    color: grey;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}